# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
.venv/
venv/

# Build / distribution artifacts
build/
dist*/
nuitka/

# FFmpeg bundle
ffmpeg/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# Logs / temp
*.log
pip-wheel-metadata/
*.tmp
*.xml

# OS specifics
.DS_Store
Thumbs.db

# PyInstaller
*.manifest
*.dll
*.so
*.spec
*.pkg

# makepkg (AUR local testing)
packaging/aur/pkg/
packaging/aur/src/
*.pkg.tar.zst
